.card {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  width: 47%;
}

.card h3 {
  padding: 20px 20px 0px 20px;
}

.card p {
  padding: 20px 35px 70px 35px;
}

.card-img {
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  height: 200px;
  width: 100%;
}

.article-link {
  background-color: #001715;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  width: 100%;
}

.article-link:hover {
  background-color: #c44536;
}

.article-link a {
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

.article-link img {
  width: 60px;
}
